Author=[your name]
Email=[your email]

--.c
/**
 * @file $NAME .c
 * @author $Author ($Email )
 * @brief 
 * @version 0.1
 * @date $YYYY-MM-DD
 * 
 * @copyright Copyright (c) $YEAR
 * 
 */
#include "$NAME .h"
--

--.h
/**
 * @file $NAME .h
 * @author $Author ($Email )
 * @brief 
 * @version 0.1
 * @date $YYYY-MM-DD
 * 
 * @copyright Copyright (c) $YEAR
 * 
 */
// Header include guards
#ifndef $NAMECAPNS _H
#define $NAMECAPNS _H

#endif // Header include guard
--

--.html
<html>
<head>
<title>$NAME </title>
</head>
<body>
</body>
</html>
--